/*Corpo da pagina partes como tela inicial e as telas de materia*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: white;
    width: 100%;
}
/*acrescentacao do modo escuro nas paginas*/
body.dark-mode {
    background-color: #454545;
    color: white;
}

a {
    text-decoration: none;
    color: black;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}


/*painel onde o usuario pode entrar nas configuracoes conta jogos
e quem somos nos*/

#panel {
    display: none;
    width: 300px;
    position: fixed;
    background-color: #6f42c1;
    flex-direction: column;
    height: 360px;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 15px;
}
/*mudanca no botao do painel*/
#panel button {
    background-color: #6f42c1;
    border: none;
    border-bottom: 1px solid black;
    padding: bold;
    padding-top: 50px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    text-align: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6f42c1;
    padding: 20px 30px;
}


/*botao do menu*/

.menu-icon button {
    background-color: #6f42c1;
    border: none;
    width: 60px;
    height: 60px;
    padding-bottom: 70px;
    padding-left: 30px;
}

.menu-icon button span {
    font-size: 50px;
    cursor: pointer;
}



.search-box {
    flex: 1;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input {
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.logo {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.logo img {
    width: 70px;
}

.logo button {
    background-color: #6f42c1;
    border: none;
    padding-right: 20px;
}

.mainindex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tituloindex {
    margin-top: 35px;
    background-color: #6f42c1;
    font-weight: bold;
    width: 600px;
    border-radius: 15px;
    font-size: 30px;
}

.tituloindex p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mainmateria {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
    font-size: 18px;
}

.btnindex {
    display: flex;
    flex-direction: column;
}

.btnindex button {
    margin-top: 50px;
    background-color: #6f42c1;
    font-weight: bold;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    height: 40px;
}

.btnindex a {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulo {
    background-color: #6f42c1;
    color: #F8F8FF;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    margin: 0 auto 20px auto;
    width: 150px;
    height: fit-content;
    text-align: center;
    font-size: 20px;
}

.texto {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 10px;
}

aside {
    position: absolute;
    right: 0;
    top: 60px;
    width: 150px;
    background-color: #6f42c1;
    height: 375px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    margin-top: 170px;
}

aside h3 {
    color: white;
    margin-bottom: 10px;
}

aside img {
    width: 120px;
    margin: 10px 0;
    border-radius: 10px;
}

.barra-titulo {
    background-color: #6f42c1;
    text-align: center;
    font-size: 30;
}

.titulo_nome {
    color: #F8F8FF;
}

.containerconfig-conta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.config-container,
.conta-container {
    margin: 0 auto;
    color: #fff;
    background: #6f42c1;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px #6f42c1;
    max-width: 700px;
    height: auto;
}

.config-container h1,
h2 {
    color: #d9a7ff;
}

.config-container select,
input[type="checkbox"] {
    background-color: #6f42c1;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    cursor: pointer;
    transition: 0.3s;
}

.config-container button:hover,
select:hover {
    background-color: #7a1ed3;
}

.conta-container h1,
h2 {
    color: #d9a7ff;
}

.conta-container select,
input[type="checkbox"] {
    background-color: #6f42c1;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    cursor: pointer;
    transition: 0.3s;
}

.conta-container button:hover,
select:hover {
    background-color: #7a1ed3;

}


